@charset "UTF-8";

header{
    display: block;
    width: 100vw;
    height: 60vh;

}

#estrelas{
    height: 60vh;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;

}

#estrela-img{
    position: absolute;
    animation: estrela-animation 50s ease-in-out infinite;
    opacity: .8;
}
@keyframes estrela-animation {
    to {
        transform: scaleX(1.5);
    }
}